@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@font-face {
  font-family: Negrito;
  src: url(/src/fonts/Simply_Bold.ttf);
}
*{
  /*Mudar fonte*/
font-family: 'Sora', sans-serif;
box-sizing: border-box;
margin: 0;
padding: 0;

}

.logo{
  margin-top: 15px;
}
body {

  background-image: url(/src/images/fundo5.svg);
  background-size: cover;
  background-position: center center;


;


}


.text1{
  
  text-align: center;
  align-items: center;
  margin-top: 15vh;
  font-weight: bold;
  font-size:9vh;
  color: whitesmoke;
  font-family: Negrito;
}

.text2{
  text-align: center;
  align-items: center;
  font-weight: bold;
  margin-top: 8vh;
  font-size: 5vh;
  color: white;
  font-family: Negrito;
}

.text3{
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  color: white;
  font-family: Negrito;

}
.elemento{
  width: 50%;
}

.container{
  display: flex;
}
.empty{
  margin-top: 100px;
}
.botao1{
  align-items: center;
  margin-top: 100px;
  margin-left: 100px;
  font-size: 18px;

  background: rgb(101, 33, 141);
  width: 100px;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-style: solid;
  border-color: rgb(101, 33, 141);
}

.botao2{
 
  align-items: center;
  margin-top: 100px;
  margin-left: 100px;
  font-size: 18px;

  width: 100px;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  border-style: solid;
  border-color: rgb(101, 33, 141);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.botoes{
  margin-right: 10vh;
  text-align: center;
  
  align-items: center;
}
.div{}

